html {
	scroll-behavior: smooth;
}
body {
	background-color: #fff;
	color: #292929;
	font-family: 'Manrope', sans-serif;	
	font-weight: 400;
	font-style: normal;
	font-size: 1.1rem;
	line-height: 1.6em;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}
@media screen and (min-width: 801px) {
	nav {
		padding: 50px 60px !important;
	}
	footer {
		padding: 16px 60px 50px 60px !important;
	}
	main {
		padding: 6rem 60px 8rem 60px !important;
	}
	.cards figure {
		height: 480px !important;
	}
}
@media screen and (max-width: 450px) {
	.desktop-only {
		display: none !important;
	}
	.tablet-only {
		display: none !important;
	}
	.mobile-only {
		display: inline !important;
	}
	.wide-desktop-only {
		display: none !important;
	}
	div.menu-items {
		display: none !important;
	}
}
@media screen and (min-width: 451px) {
	.desktop-only {
		display: none !important;
	}
	.tablet-only {
		display: inline !important;
	}
	.mobile-only {
		display: none !important;
	}
	.wide-desktop-only {
		display: none !important;
	}
}
@media screen and (min-width: 801px) {
	.desktop-only {
		display: inline !important;
	}
	.tablet-only {
		display: none !important;
	}
	.mobile-only {
		display: none !important;
	}
	.wide-desktop-only {
		display: none !important;
	}
}
@media screen and (min-width: 1150px) {
	.desktop-only {
		display: none !important;
	}
	.tablet-only {
		display: none !important;
	}
	.mobile-only {
		display: none !important;
	}
	.wide-desktop-only {
		display: inline !important;
	}
}
.flex {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-wrap: nowrap;
    -webkit-box-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flexbox-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.wrap {
	-moz-box-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flexbox-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justify-between {
	-webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.justify-evenly {
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}
.justify-end {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: flex-end;
}
.justify-center {
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: center;
}
.flex-col {
    -moz-box-direction: column;
    -webkit-box-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flexbox-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.align-item-end {
	-webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -moz-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end !important;
}
.align-item-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.align-baseline {
	-webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline !important;
}
.relative {
	position: relative !important;
}
h1, h2, h3, nav {
	font-family: 'Manrope', sans-serif;	
	font-style: normal;
	line-height: 1.7em;
}
h1 {
	font-size: 1.9rem;
}
h2 {
	font-size: 1.45rem;
}
h3 {
	font-size: 1.1rem;
}
h4 {
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
}
.text-right {
	text-align: right;
}
a {
	text-decoration: none;
	color: #666;
}
a:hover, .active {
	text-decoration: underline;
}
.new-window {
	padding: 2px;
	box-sizing: border-box;
	display: inline;
	margin: 0;
}
.p-padding li {
	padding: 8px 0;
}
.active {
	color: #4266b0;
	font-weight: 700;
	text-decoration: none;
}
.home {
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 7.5px;
}
a.home:hover {
	text-decoration: none !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb--1 {
	margin-bottom: -1rem !important;
}
.mb-2 {
	margin-bottom: 2rem !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}
.mt-1 {
	margin-top: 1rem !important;
}
.pt-2 {
	padding-top: 2rem !important;
}
.pt-4 {
	padding-top: 4rem !important;
}
.pb-4 {
	padding-bottom: 6rem !important;
}
.sz-1 {
	font-size: 1rem !important;
}
.grey {
	color: #606267 !important;
}
div.cards {
	margin-top: 1rem;
}
.cards p:hover {
	text-decoration: none !important;
}
a.cards {
	text-decoration: none;
}
.cards h2 {
	margin: 0 0 -1rem 0;
	color: #303237;
}
.cards p {
	color: #666;
	margin-bottom: 0 !important;
}
.cards p, footer article p {
	font-size: 1rem;
}
article {
	padding: 8px 0;
}
section {
	padding: 8px 0;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 10px 16px;
	box-sizing: border-box;
	z-index: 100 !important;
}
nav div div a {
	padding: 16px;
	margin-right: -16px;
}
main {
	max-width: 95rem;
	margin: 0 auto;
	padding: 4rem 16px 8rem 16px;
}
main header {
	margin: 5rem 0;
}
div.separator {
	border: 0.25px solid #dbdbdb;
	width: 100%;
	margin-bottom: 1rem;
	margin-top: 7rem;
}
footer {
	max-width: 95rem;
	margin: 0 auto;
	padding: 16px 16px 40px 16px;
}
footer h2, footer h3 {
	margin: 0;
	font-weight: 400;
}
footer h2 {
	padding: 0;
}
div.socials {
	overflow: hidden;
}
.socials a {
	padding: 30px;
	margin-right: -30px;
	margin-bottom: -30px;
	font-size: 1rem;
	box-sizing: border-box;
}
.socials a figure {
	margin: 0 !important;
	padding: 0 !important;
	height: 40px !important;
	width: 40px;
}
.socials a figure img {
	max-height: 100%;
	max-width: 100%;
}
.anchor {
    position: absolute;
    top: -1.5rem;
}
.info {
	padding-top: 4rem;
}
.pg-about {
	max-width: 42rem;
	margin:  8rem auto 0 auto;
}
header.pg-head {
	padding-top: 8px;
}
.pg-text figure {
	width: 100%;
}
.pg-head, .info, .pg-text, footer {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-moz-box-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flexbox-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
}
@media screen and (max-width: 1150px){
	.pg-head, .info, .pg-text, footer {
		display: block;
	}
	.pg-head div, .info div, .pg-text .child, footer .child {
	width: 100% !important;
	}
}
.pg-head div, .info div, .pg-text .child {
	width: 49%;
	padding-top: 1rem;
}
footer .child {
	padding-top: 28px;
	width: 49%;
}
ol.process {
	margin: 0 !important;
	padding:  0 0 2rem 0!important;
	list-style: none;
}
.process article {
	width: 19rem;
	min-height: 12rem;
	border-radius: 0.4rem;
	padding: 24px;
	box-sizing: border-box;
	margin: 0.5rem;
}
@media screen and (max-width: 1335px) and (min-width: 1032px) {
	.process article {
		width: 28rem !important;
	}
}
@media screen and (max-width: 1335px) {
		ol.process {
		justify-content: center !important;
	}
}
.process p {
	margin-top: 0;
}
.cards figure {
	height: 65vw;
	width: 100%;
	margin: 1rem 0 0 0;
	box-shadow: 0 4px 17px 0 hsl(0deg 0% 91% / 50%);
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}
.thumbnail img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
}
.thumbnail img:hover {
	height: 105%;
	width: 105%;
}
address {
	display: inline;
	font-style: normal;
}
.project-info p {
	font-size: smaller;
	margin: 0;
}

/*arrow button styling*/
.arrow figure {
	height: 40px !important;
	width: 40px !important;
	border-radius: 50px;
	margin: 0 !important;
	background-color: #4266b0;
}
#arrow-icon1, #arrow-icon4 {
	max-width: 20px;
	margin-left: 25%;
	margin-top: 15%;
	transition: 0.2s;
	fill: white;
}
#arrow-icon2, #arrow-icon3 {
	max-width: 20px;
	margin-left: 25%;
	margin-top: 20%;
	transition: 0.2s;
	fill: white;
}
#arrow-icon2.hover, #arrow-icon3.hover {
	margin-left: 30%;
}
#newtab1 {
	max-width: 16px;
	position: absolute;
	margin-left: 36%;
	margin-top: 16.5%;
	transition: 0.2s;
	fill: white;
}
#newtab1.hover {
	margin-left: 39% !important;
	margin-top: 13.5% !important;
}
#newtab3 {
	max-width: 16px;
	position: absolute;
	margin-left: 36%;
	margin-top: 16.5%;
	transition: 0.2s;
	fill: white;
}
#newtab3.hover {
	margin-left: 39% !important;
	margin-top: 13.5% !important;
}
#newtab2 {
	max-width: 21px;
	position: absolute;
	margin-left: 24%;
	margin-top: 15%;
	fill: white;
}
/*work pages*/
.fig100 {
	width: 100%;
	height: auto;
	padding: 1rem 0 2rem 0;
	margin: 0;
}
@media screen and (max-width: 800px) {
	.jas {
		transform: translate(50%, 0) !important;
		width: 13rem !important;
		top: 7rem !important;
	}
	.pg-about {
		margin-top: 15rem !important;
	}
}
.jas {
	position: absolute;
	top: 5rem;
	right: 50%;
	transform: translate(90%, 0);
	z-index: -2;
	width: 20rem;
	height: auto;
	padding: 0 !important;
	margin: -1rem auto;
	border-radius: 5px;
}
.jas img {
	height: 100%;
	width: 100%;
}
.fig100 img {
	height: 100%;
	width: 100%;
}
div.ft {
	margin: auto;
}

/*
.flex-it {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-wrap: nowrap;
    -webkit-box-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flexbox-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-row {
    -moz-box-direction: row;
    -webkit-box-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flexbox-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-col {
    -moz-box-direction: column;
    -webkit-box-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flexbox-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-align-between {
    -webkit-box-align-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-align-content: space-between;
    align-content: space-between;
}
.flex-align-center {
    -webkit-box-align-content: center;
    -webkit-align-content: center;
    -ms-flex-align-content: center;
    align-content: center;
}
.flex-align-start {
    -webkit-box-align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-align-content: flex-start;
    align-content: flex-start;
}
.flex-align-item-start {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.flex-align-item-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-start-all {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-align-content: flex-start;
    align-content: flex-start;
}
.flex-align-item-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.flex-justify-center {
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: center;
}
.flex-justify-start {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: flex-start;
}
.flex-justify-end {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: flex-end;
}
.flex-wrap {
    -moz-box-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flexbox-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-item-auto {
    -webkit-box-basis: auto;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1 0 auto;
    /* IE 10 */
    flex: 1;
}
/*

/*nice drop-shadow

 {
	text-shadow: 
	-0.12rem 0.12rem 0.2rem #fff, 
	-0.12rem -0.12rem 0.2rem #fff, 
	0.12rem 0.12rem 0.2rem #fff, 
	0.12rem -0.12rem 0.2rem #fff;
}

*/

/*hamburger styling*/

:root {
        --side-panel: 170px;
        --side-color: white;
      }

      *, ::before, ::after {
        box-sizing: border-box;
      }

      :focus {
        outline: 3px solid #3d68a7;
      }

      ::-moz-focus-inner {
        border: 0;
      }

      .navMenu {
        width: var(--side-panel);
        color: var(--side-color);
        background: #e7ecf6;
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        transition: width .4s ease-in-out;
        z-index: 10;
      }

      .closeBtn {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #666;
        padding: 10px 5px 5px 5px;
        background: #e7ecf6;
      }

      .hamburger {
        position: fixed;
        top: 10px;
        right: 12px;
        padding: 0;
        z-index: 100;
        transition: margin .4s ease-in-out;
        color: #666;
      }

      .hidden {
        width: 0;
      }

      .vh {
        visibility: hidden;
      }

      button {
        font-size: 2em;
        background: none;
        border: none;
        cursor: pointer;
      }

      ul.hamburger-menu {
        list-style: none;
        padding: 1.4em;
        line-height: 1.4;
        background: #e7ecf6;
      }

      ul.hamburger-menu li {
        padding: 8px 0;
      }

      .navMenu a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.9rem;
      }

      .navMenu a:hover {
        border-bottom: solid 1px;
      }

      h1 {
        margin: 0;  
      }

      .main-right {
        padding-left: 4em;  
      }

      .menuOpen {
        margin-left: var(--side-panel);
      }

      .overlay {
        position: fixed;
        z-index: 8;
        top: 0;
        right: 0;
        left: var(--side-panel);
        bottom: 0;
        background: rgba(0,0,0,.2);
        height: 100%;
      }

        .menuOpen {
          margin-left: 0;
        }

      }
